html { 
    background-color: #3F51B5;
  }
  
  .hidden {
    display: none;
  }
  
  .container {
    margin: 0;
    max-width: 750px;
    margin:10vh auto 0 auto;
  }
  
  .container > div {
    display: inline-block;
  }
  
  #slideshow {
    margin: 0;

}

.home {
    height: 600px;
    width: 800px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.home .slide {
    margin-left: 40px;
    top: 0;
    height: 600px;
    width: 720px;
    overflow-y: hidden;
    z-index: 1;
    display: none;
}

.home .slide.active {
    display: flex;
}

.prev, .next {
    position: absolute;
   
    height: 600px;
    width: 40px;
    background-color: rgb(222, 222, 222);
    cursor: pointer;
    transition: all .5s ease;
    display: flex;
    justify-content: space-around;
}

.prev:hover, .next:hover {
    background-color: #000000;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    align-self: center;
    justify-self: center;
    border-color: transparent transparent transparent #fcfcfc;
}

.left {
    transform: rotate(180deg);
   
}
